html {
     width: 100%;
     height: 100%;
 }

 * {
     padding: 0;
     margin: 0;
     border: 0;
 }

 .first_box {
  background-image: url(images/mountain-names.jpg);
  width: 100%;
  background-size: cover;
 }

 .container {
  width: 90%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
 }

.menu {
  background: #ffffff;
  border-radius: 30px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  color: #305f7d;
 }


 .menu_picture {
    margin-left: 4vw;
}

.menu_words {
  font-size: 20px;
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
  /* margin-right: 8px; */
}

@media screen and (max-width: 773px) and (min-width: 260px){
  .menu{
    visibility: hidden;
  }
}

.menu_left {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu_right {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.word {
  margin-right: 4px;
}

h1 {
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 150px;
}

h5 {
  text-align: center;
  width: 100%;
  color: #fff;
  padding-top: 10px;
  font-size: 20px;
}

.go-button{
  width: 80px;
  height: 40px;
  border-radius: 25px;
  background: #fff;
  margin: 30px auto;
  color: #3f6b86;
}

.button-text{
  text-align: center;
  padding-top: 6px;
  font-size: 23px;
}

.ending{
  width: 100%;
  margin: 70px auto 40px auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}

.second_block {
    background: #fff;
    width: 100%;
}

.mountain_picture {
  margin: 70px auto 0px auto;
}

.begin {
  width: 100%;
  text-align: center;
  color: grey;
  font-size: 3vw;
  padding-top: 55px;
}

.text_filter{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.text_filter{
  color: #a9a9a9;
  font-size: 2vw;
}

.button_filter {
  background: #e5e5e5;
  height: 30px;
  margin: 0px 5px;
  border-radius: 15px;
  width: 80px;
  color: #727272;
}

.start_button{
  height: 40px;
  width: 120px;
  border-radius: 25px;
  background: #fff;
  margin: 60px auto;
  background: #3f6b86;
  color: #fff;
  font-size: 23px;
  }

  .button_filter, .start_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
